html, body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #EBE8E0;
}

.custHeadStyle {
    height: 20vh;
}

.imgSizing {
    max-width: 100%;
    height: 20vh;
}

.picDivPlacing {
    margin: 7px 7px 7px 0px;
    
}

.firstRow {
    margin-left: .1em;
    margin-right: .5em;
    margin-top: .5em;
    
}

.custFootStyle {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0%;
    width: 100%;
    height: 10%;  
}

.lineItemStyling {
    padding: 2px;
}


.rowPlacing {
    margin: 1em;
    height: 30%;
}

.spacer {
    width: 100%;
    height: 5%;
}

.footerList {
    text-align: center;
 }

 .lineBreaker {
    width: 90%;
    font-weight: bolder;
    color: #10564F;
}

.divii {
    border-radius: 7px;
    background-color: #DBEBED;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;

}

.mainImgSize {
    max-height: 60vh;
}