html, body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #EBE8E0;
}


.divii {
    border-radius: 7px;
    background-color: #DBEBED;
}

.custFootStyle {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0%;
        width: 100%;
        height: 10%;  
}

.custHeadStyle {
    height: 20vh;
}

.rowPlacing {
    margin: 1em;
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.firstRow {
    margin-left: .1em;
    margin-right: .5em;
    margin-top: .5em;
    
}

.innerRow {
    height: 50%;
}

.sideDivPlacing {
    margin: 7px 7px 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

.picDivPlacing {
    margin: 7px 7px 7px 0px;
    
}

.lineBreaker {
    width: 90%;
    font-weight: bolder;
    color: #10564F;
}

.spacer {
    width: 100%;
    height: 5%;
}

.footerList {
   text-align: center;
}

.listWrapper {
    display: flex;
    justify-content: space-evenly;
}

.imgSizing {
    max-width: 100%;
    height: 20vh;
}

.faqStyling {
    padding: 5px;
}

.lineItemStyling {
    padding: 2px;
}


/* .listItemMargin {
    margin-left: auto !important;
    margin-right: auto !important;
} */